body{
  background-color: #508ca4;
}
.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: auto;
}
.cellrows{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.cellcolumns{
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(auto-fit,10px);
}
.dead{
  background-color: black;
  width: 10px;
  height: 10px;
}
.alive{
  background-color: green;
  width: 10px;
  height: 10px;
}
.controls, button, label, input{
  font-size: 18px ;
  margin: 5px;
}